.center_div {
  justify-content: center;
  text-align: center;
  padding-top:5rem;
}

.number {
   font-size: 5rem;
   color: blue;
}


.up {
  text-align: right;
  background-color: chartreuse;
  padding: 8px;
  border: solid red;
  border-radius: 8px;
  font-size:xx-large;

}
.up:hover {
  background-color: aqua;
}

.down {
  text-align:right;
  background-color: pink;
  padding: 8px;
  border: solid blue;
 border-radius: 8px;
 font-size:xx-large;

}
.down:hover {
  background-color: rebeccapurple;
}